doctype html
html
  head
    title= title
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js")
    script(src='https://unpkg.com/react@16.3.1/umd/react.production.min.js')
    script(src='https://unpkg.com/react-dom@16.3.1/umd/react-dom.production.min.js')
    script(src='https://unpkg.com/react-router@5.0.0/umd/react-router.min.js')
    script(src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js')
    script(src='https://unpkg.com/babel-standalone@6.26.0/babel.js')
    link(href="https://fonts.googleapis.com/css2?family=Lemonada&family=Pangolin&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lemonada&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
    link(rel="shortcut icon" href="#")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/sake_color.min.css")
    link(rel="stylesheet", href="/css/sake_style.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous")
  body
    block content
