.middle(class="w(100pw) bgc(Indigo)")
    .vd1
        button(class=" btn btn-dark w(100)" type='submit' aria-label="Close a popup" ) Submit
    hr(class=" bgc(White)")
    .vd2
        h3(class=" c(White)") Alert_class
        div(class="alert alert-success w(600) justify-content-center") 
            a(class="alert-link" href="#") Hello would
        br
        div(class="alert alert-success w(600)")
            h4 Something
            p everything
            hr
            p(class="mb-0") Sake
    hr(class="bgc(White)")
    .vd3
        h3(class=" c(White)") Badge_class
        h2 Something
            span(class="badge badge-secondary") New
        button(type="botton" class="btn btn-dark") Click
            span(class="badge badge-success") 5
        br
        span(class="badge badge-warning") sake
    hr(class="bgc(White)")
    .vd4
        h3(class=" c(White)") Breadcumb_class
        nav( aria-label="breadcrumb" class="w(600)")
            ol(class="breadcrumb")
                li(class="breadcrumb-item active" aria-current="page") Home
        br
        nav( aria-label="breadcrumb" class="w(600)")
            ol(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="#") Home
                li(class="breadcrumb-item active" aria-current="page") Library
    hr(class="bgc(White)")
    .vd5
        h3(class=" c(White)") btn_class
        a(href="http://" class="btn btn-danger" role="button") Link
        button(class="btn btn-dark" type="submit") Button
        input(type="button" class="btn btn-dark" value="Input")
        input(type="submit" class="btn btn-dark" value="Submit")
        input(type="reset" class="btn btn-dark" value="Reset")
        br
        button(type="button" class="btn btn-outline-light") Someone
        button(type="button" class="btn btn-outline-danger") Someone
        br
        button(type="button" class="btn btn-danger btn-block btn-sm w(600)") Someone
        br
        button(disabled type="button" class="btn btn-outline-light w(300)") sake
        br
        a(href="http://" class="btn btn-outline-light w(300) disabled") sakee
    hr(class="bgc(White)") 
    .vd6
        h3(class=" c(White)") btn group _ class
        div(class="btn-group" role="group" aria-label="Basic example")
            button(type="button" class="btn btn-dark") Left
            button(type="button" class="btn btn-dark") Left
            button(type="button" class="btn btn-dark") Right
    .vd7
        h3(class=" c(White)") card_class
        div(class="card w(300) ")
            img(src="1.jpg", alt="", srcset="" class="card-img-top")
            div(class="card-body")
                h5(class="card-title") Some thing
                p(class="card-text") Someone thing about for it
                a(class="btn btn-dark") Go on
        br
        div(class="card w-25")
            div(class="card-body")
                a this or that .. Do you thing so ? 
        br
        div(class="card w(300)")
            div(class="card-body")
                h5(class="card-title") Card title
                h6(class="card-subtitle mb-1") Card subtitle
                p(class="card-text") some quik example text
                a(href="http://" class="card-link") Card link
                a(href="http://" class="card-link") Another link
        br
        div(class="card w(300)")
            div(class="card-header")
                a COntroller
            div(class="card-body")
                h5(class="card-title") Something
                p(class="card-text") some how
        br
        div(class="card w(300)")
            div(class="card-header") sounds
            div(class="card-body")
                blockquote(class=" blockquote mb-0")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    footer(class="blockquote-footer") some one 
                        cite(title="hello")
        br
        div(class="card text-center w(600)")
            div(class="card-header") Shy
            div(class=" card-body")
                h6(class="card-title") my life need u
                button(class="btn btn-dark w(100)") sale
            div(class="card-footer text-muted") it's finish
        br
        div(class="row")
            div(class="col-sm-3")
                div(class="card w(90pc) ")
                    img(src="1.jpg", alt="", srcset="" class="card-img-top")
                    div(class="card-body")
                        p hey, you in there
                        button.btn.btn-primary(type='submit') Submit
            div(class="col-sm-3")
                div(class="card w(90pc) bgc(Blue)")
                    img(src="1.png", alt="", srcset="" class="card-img-top")
                    div(class="card-body")
                        p hey, you in there
                        button.btn.btn-primary(type='submit' class="bdc(White)") Submit
        br
        div(class="col")
            div(class="row-sm-3")
                div(class="card w-25 ")
                    img(src="1.png", alt="", srcset="" class="card-img-top")
                    div(class="card-body")
                        p hey, you in there
                        button.btn.btn-primary(type='submit') Submit
            div(class="row-sm-3")
                div(class="card w-25 bgc(Blue)")
                    img(src="1.png", alt="", srcset="" class="card-img-top")
                    div(class="card-body")
                        p hey, you in there
                        button.btn.btn-primary(type='submit' class="bdc(White)") Submit
        br
        div(class="row")
            div(class="col-sm-3")
                div(class="card w(90pc) text-left")
                    img(src="1.png", alt="", srcset="" class="card-img-top")
                    div(class="card-body")
                        p hey, you in there
                        button.btn.btn-primary(type='submit') Submit
            div(class="col-sm-3")
                div(class="card w(90pc) bgc(Blue) text-lg-center")
                    img(src="1.png", alt="", srcset="" class="card-img-top")
                    div(class="card-body")
                        p hey, you in there
                        button.btn.btn-primary(type='submit' class="bdc(White)") Submit
            div(class="col-sm-3")
                div(class="card w(90pc) bgc(Yellow) text-right")
                    img(src="1.png", alt="", srcset="" class="card-img-top")
                    div(class="card-body")
                        p hey, you in there
                        button.btn.btn-primary(type='submit' class="bdc(Black)") Submit
        br
        div(class="card text-md-center w(600)")
            div(class="card-header")
                ul(class="nav-tabs nav card-header-tabs")
                    li(class="nav-item")
                        a(href="#" class="nav-link active") Active
                    li(class="nav-item")
                        a(href="#" class="nav-link") Link
                    li(class="nav-item")
                        a(href="#" class="nav-link disabled") Ab
            div(class="card-body")
                div(class="card-body")
                    p hey, you in there
                    button.btn.btn-primary(type='submit' class="bdc(White)") Submit
        br
        div(class="card text-md-center w(600)")
            div(class="card-header")
                ul(class=" nav nav-pills card-header-pills")
                    li(class="nav-item")
                        a(href="#" class="nav-link active") Active
                    li(class="nav-item")
                        a(href="#" class="nav-link") Link
                    li(class="nav-item")
                        a(href="#" class="nav-link disabled") Ab
            div(class="card-body")
                div(class="card-body")
                    p hey, you in there
                    button.btn.btn-primary(type='submit' class="bdc(White)") Submit
        br
        div(class="card w-50 bgc(Yellow) text-right")
            div(class="card-body")
                p hey, you in there
                button.btn.btn-primary(type='submit' class="bdc(Black)") Submit
            img(src="1.png", alt="", srcset="" class="card-img-top")
        br
        div(class="card bg-dark text-white w-25")
            img(src="1.png", alt="", srcset="" class="card-img")
            div(class="card-img-overlay")
                p(class="card-text") hey, you in there
                button.btn.btn-primary(type='submit' class="bdc(White)") Submit
        br
        div(class="card mb-3 w-50")
            div(class="row")
                div(class="col-4")
                    img(src="1.png", alt="", srcset="" class="card-img")
                div(class="col-8")
                    div(class="card-body")
                        p hey, you in there
                        button.btn.btn-primary(type='submit' class="bdc(Black)") Submit
                        p(class="card-text")
                            small(class="text-muted")
        br
        div(class="card w(600) bgc(Yellow) ")
            div(class="card-header") Some one
            div(class="card-body")
                p hey, you in there
                button.btn.btn-primary(type='submit' class="bdc(Black)") Submit
            div(class="card-footer") Somehere
        br
        div(class="card text-right text-success border-success w(600)")
            div(class="card-header") Some one
            div(class="card-body")
                p hey, you in there
                button.btn.btn-primary(type='submit' class="bdc(Black)") Submit
            div(class="card-footer") Somehere
        br
        div(class="card text-right text-success border-success w(600)")
            div(class="card-header bg-transparent border-success") Some one
            div(class="card-body")
                p hey, you in there
                button.btn.btn-primary(type='submit' class="bdc(Black)") Submit
            div(class="card-footer bg-transparent border-success") Somehere
    hr(class="bgc(White)")
    .vd9(class="")
        div(class="container mt-5 mb-5 bdc(White)")
            div(class="owl-theme owl-carousel h(200)")
                div(class="item mr-2 ml-2 w(300) h(200)")
                    img(src="1.png", alt="", srcset="" class="w(100pc) h(100pc)")
                div(class="item mr-2 ml-2 w(300) h(200)")
                    img(src="1.png", alt="", srcset="" class="w(100pc) h(100pc)")
                div(class="item mr-2 ml-2 w(300) h(200)")
                    img(src="1.png", alt="", srcset="" class="w(100pc) h(100pc)")
                div(class="item mr-2 ml-2 w(300) h(200)")
                    img(src="1.png", alt="", srcset="" class="w(100pc) h(100pc)")
                div(class="item mr-2 ml-2 w(300) h(200)")
                    img(src="1.png", alt="", srcset="" class="w(100pc) h(100pc)")
                div(class="item mr-2 ml-2 w(300) h(200)")
                    img(src="1.png", alt="", srcset="" class="w(100pc) h(100pc)")
                div(class="item mr-2 ml-2 w(300) h(200)")
                    img(src="1.png", alt="", srcset="" class="w(100pc) h(100pc)")
        br
    hr(class="bgc(White)")
    .vd10
        div(class="accordion w-25" id="accordionExample")
            div(class="card")
                div(class="card-header" id="headingOne")
                    h2(class="mb-0")
                        button(type='buton' class="btn btn-link" data-toggle="collapse" data-target="#collapseOne") 
                            |Collapsible Group Item #1
                div(id="collapseOne" class="collapse show")
                    div(class="card-body")
                        |Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        |non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        |Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin 
                        |coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            div(class="card")
                div(class="card-header" id="headingTwo")
                    h2(class="mb-0")
                        button(type='buton' class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo") 
                            |Collapsible Group Item #2
                div(id="collapseTwo" class="collapse show")
                    div(class="card-body")
                        |Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        |non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        |Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin 
                        |coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            div(class="card")
                div(class="card-header" id="headingThree")
                    h2(class="mb-0")
                        button(type='buton' class="btn btn-link" data-toggle="collapse" data-target="#collapseThree") 
                            |Collapsible Group Item #3
                div(id="collapseThree" class="collapse show")
                    div(class="card-body")
                        |Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        |non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        |Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin 
                        |coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        br
    hr(class="bgc(White)")
    .vd11
        .dropdown
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Dropdown button
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
        br
        .btn-group
            button.btn.btn-danger.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Action
            .dropdown-menu
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
                .dropdown-divider
                a.dropdown-item(href='#') Separated link
        br
        br
        .btn-group
            button.btn.btn-danger(type='button') Action
            button.btn.btn-danger.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.sr-only Toggle Dropdown
            .dropdown-menu
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
                .dropdown-divider
                a.dropdown-item(href='#') Separated link
        br
        br
        .btn-group.dropup
            button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Dropup
            .dropdown-menu
            .btn-group.dropup
            button.btn.btn-secondary(type='button')
                | Split dropup
            button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.sr-only Toggle Dropdown
            .dropdown-menu
        br
        br
        .btn-group.dropright
            button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Dropright
            .dropdown-menu
            .btn-group.dropright
            button.btn.btn-secondary(type='button')
                | Split dropright
            button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.sr-only Toggle Dropright
            .dropdown-menu
        br
        br
        .dropdown
            button#dropdownMenu2.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Dropdown
            .dropdown-menu(aria-labelledby='dropdownMenu2')
                button.dropdown-item(type='button') Action
                button.dropdown-item(type='button') Another action
                button.dropdown-item(type='button') Something else here
        br
        .btn-group
            button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Right-aligned menu
            .dropdown-menu.dropdown-menu-right
                button.dropdown-item(type='button') Action
                button.dropdown-item(type='button') Another action
                button.dropdown-item(type='button') Something else here
        br
        br
        .dropdown-menu
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
            .dropdown-divider
            a.dropdown-item(href='#') Separated lin
        br
        br
    hr(class="bgc(White)")
    .vd12
        form(class="w(600) bg-light p-4")
            .form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' class="w(90pc)")
                small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
            .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password' class="w(90pc)")
            .form-group.form-check
                input#exampleCheck1.form-check-input(type='checkbox' class="w(90pc)")
                label.form-check-label(for='exampleCheck1') Check me out
            button.btn.btn-primary(type='submit') Submit
        br
        form(class="w(600) p-4 bg-light")
            .form-group
                label(for='exampleFormControlInput1') Email address
                input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
            .form-group
                label(for='exampleFormControlSelect1') Example select
                select#exampleFormControlSelect1.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
            .form-group
                label(for='exampleFormControlSelect2') Example multiple select
                select#exampleFormControlSelect2.form-control(multiple='')
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
            .form-group
                label(for='exampleFormControlTextarea1') Example textarea
                textarea#exampleFormControlTextarea1.form-control(rows='3')
        br
        form(class="w(600) bg-light p-4")
            .form-group
                label(for='exampleFormControlFile1') Example file input
                input#exampleFormControlFile1.form-control-file(type='file')
        br
        form(class="p-4 w(600) bg-light")
            .form-group.row
                label.col-sm-2.col-form-label(for='staticEmail') Email
                .col-sm-10
                    input#staticEmail.form-control-plaintext(type='text' readonly='' value='email@example.com')
            .form-group.row
                label.col-sm-2.col-form-label(for='inputPassword') Password
                .col-sm-10
                    input#inputPassword.form-control(type='password')
        br
        form.form-inline(class="bg-light pt-3 pl-2 w(600)")
            .form-group.mb-2
                label.sr-only(for='staticEmail2') Email
                input#staticEmail2.form-control-plaintext(type='text' readonly='' value='email@example.com')
            .form-group.mx-sm-3.mb-2
                label.sr-only(for='inputPassword2') Password
                input#inputPassword2.form-control(type='password' placeholder='Password')
            button.btn.btn-primary.mb-2(type='submit') Confirm identity
        br
        form(class="bg-light pt-3 pl-2 w(600)")
            .form-group
                label(for='formControlRange') Example Range input
                input#formControlRange.form-control-range(type='range')
        br
        .abc(class="bg-light w(600)")
            .form-check
                input#defaultCheck1.form-check-input(type='checkbox' value='')
                label
            .form-check-label(for='defaultCheck1')
                | Default checkbox
            .form-check
                input#defaultCheck2.form-check-input(type='checkbox' value='' disabled='')
                label.form-check-label(for='defaultCheck2')
                    | Disabled checkbox
            .form-check
                input#exampleRadios1.form-check-input(type='radio' name='exampleRadios' value='option1' checked='')
                label.form-check-label(for='exampleRadios1')
                    | Default radio
            .form-check
                input#exampleRadios2.form-check-input(type='radio' name='exampleRadios' value='option2')
                label.form-check-label(for='exampleRadios2')
                    | Second default radio
            .form-check
                input#exampleRadios3.form-check-input(type='radio' name='exampleRadios' value='option3' disabled='')
                label.form-check-label(for='exampleRadios3')
                | Disabled radio
            br
            .form-check.form-check-inline
                input#inlineCheckbox1.form-check-input(type='checkbox' value='option1')
                label.form-check-label(for='inlineCheckbox1') 1
            .form-check.form-check-inline
                input#inlineCheckbox2.form-check-input(type='checkbox' value='option2')
                label.form-check-label(for='inlineCheckbox2') 2
            .form-check.form-check-inline
                input#inlineCheckbox3.form-check-input(type='checkbox' value='option3' disabled='')
                label.form-check-label(for='inlineCheckbox3') 3 (disabled)
            .form-check.form-check-inline
                input#inlineRadio1.form-check-input(type='radio' name='inlineRadioOptions' value='option1')
                label.form-check-label(for='inlineRadio1') 1
            .form-check.form-check-inline
                input#inlineRadio2.form-check-input(type='radio' name='inlineRadioOptions' value='option2')
                label.form-check-label(for='inlineRadio2') 2
            .form-check.form-check-inline
                input#inlineRadio3.form-check-input(type='radio' name='inlineRadioOptions' value='option3' disabled='')
                label.form-check-label(for='inlineRadio3') 3 (disabled)
        br
        form(class="bg-light w(600) p-3")
            .form-group
                label(for='formGroupExampleInput') Example label
                input#formGroupExampleInput.form-control(type='text' placeholder='Example input placeholder')
            .form-group
                label(for='formGroupExampleInput2') Another label
                input#formGroupExampleInput2.form-control(type='text' placeholder='Another input placeholder')
        br
        form(class="w(600) bg-light p-3")
            .row
                .col
                    input.form-control(type='text' placeholder='First name')
                .col
                    input.form-control(type='text' placeholder='Last name')
        br
        form(class="w(600) bg-light p-3")
            .form-row
                .col
                    input.form-control(type='text' placeholder='First name')
                .col
                    input.form-control(type='text' placeholder='Last name')
        br
        form(class="w(600) bg-light p-3")
            .form-row
                .form-group.col-md-6
                    label(for='inputEmail4') Email
                    input#inputEmail4.form-control(type='email')
                .form-group.col-md-6
                    label(for='inputPassword4') Password
                    input#inputPassword4.form-control(type='password')
            .form-group
                label(for='inputAddress') Address
                input#inputAddress.form-control(type='text' placeholder='1234 Main St')
            .form-group
                label(for='inputAddress2') Address 2
                input#inputAddress2.form-control(type='text' placeholder='Apartment, studio, or floor')
            .form-row
                .form-group.col-md-6
                    label(for='inputCity') City
                    input#inputCity.form-control(type='text')
                .form-group.col-md-4
                    label(for='inputState') State
                    select#inputState.form-control
                        option(selected='') Choose...
                        option ...
                .form-group.col-md-2
                    label(for='inputZip') Zip
                    input#inputZip.form-control(type='text')
            .form-group
                .form-check
                    input#gridCheck.form-check-input(type='checkbox')
                    label.form-check-label(for='gridCheck')
                        | Check me out
            button.btn.btn-primary(type='submit') Sign in
        br
        form(class="w(600) bg-light p-3")
            .form-group.row
                label.col-sm-2.col-form-label(for='inputEmail3') Email
                .col-sm-10
                    input#inputEmail3.form-control(type='email')
            .form-group.row
                label.col-sm-2.col-form-label(for='inputPassword3') Password
                .col-sm-10
                    input#inputPassword3.form-control(type='password')
            fieldset.form-group
                .row
                    legend.col-form-label.col-sm-2.pt-0 Radios
                .col-sm-10
                    .form-check
                        input#gridRadios1.form-check-input(type='radio' name='gridRadios' value='option1' checked='')
                        label.form-check-label(for='gridRadios1')
                            | First radio
                    .form-check
                        input#gridRadios2.form-check-input(type='radio' name='gridRadios' value='option2')
                        label.form-check-label(for='gridRadios2')
                            | Second radio
                    .form-check.disabled
                        input#gridRadios3.form-check-input(type='radio' name='gridRadios' value='option3' disabled='')
                        label.form-check-label(for='gridRadios3')
                            | Third disabled radio
            .form-group.row
                .col-sm-2 Checkbox
                .col-sm-10
                .form-check
                    input#gridCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='gridCheck1')
                    | Example checkbox
            .form-group.row
                .col-sm-10
                    button.btn.btn-primary(type='submit') Sign in
        br
        form(class="w(600) bg-light p-3")
            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                .col-sm-10
                    input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
            .form-group.row
                label.col-sm-2.col-form-label(for='colFormLabel') Email
                .col-sm-10
                    input#colFormLabel.form-control(type='email' placeholder='col-form-label')
            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-lg(for='colFormLabelLg') Email
                .col-sm-10
                    input#colFormLabelLg.form-control.form-control-lg(type='email' placeholder='col-form-label-lg')
        br
        form(class="w(600) bg-light p-3")
            .form-row
                .col-7
                    input.form-control(type='text' placeholder='City')
                .col
                    input.form-control(type='text' placeholder='State')
                .col
                    input.form-control(type='text' placeholder='Zip')
        br
        form(class="bg-light p-3 form-row align-items-center w-50")
                .col-auto
                    label.sr-only(for='inlineFormInput') Name
                    input#inlineFormInput.form-control.mb-2(type='text' placeholder='Jane Doe')
                .col-auto
                    label.sr-only(for='inlineFormInputGroup') Username
                    .input-group.mb-2
                        .input-group-prepend
                        .input-group-text @
                            input#inlineFormInputGroup.form-control(type='text' placeholder='Username')
                .col-auto
                    .form-check.mb-2
                        input#autoSizingCheck.form-check-input(type='checkbox')
                        label.form-check-label(for='autoSizingCheck')
                        | Remember me
                .col-auto
                    button.btn.btn-primary.mb-2(type='submit') Submit
        br
        form(class="bg-light p-3 w-50")
            .form-row.align-items-center
                .col-sm-3.my-1
                    label.sr-only(for='inlineFormInputName') Name
                    input#inlineFormInputName.form-control(type='text' placeholder='Jane Doe')
                .col-sm-3.my-1
                    label.sr-only(for='inlineFormInputGroupUsername') Username
                    .input-group
                        .input-group-prepend
                            .input-group-text @
                            input#inlineFormInputGroupUsername.form-control(type='text' placeholder='Username')
                .col-auto.my-1
                    .form-check
                        input#autoSizingCheck2.form-check-input(type='checkbox')
                        label.form-check-label(for='autoSizingCheck2')
                        | Remember me
                .col-auto.my-1
                    button.btn.btn-primary(type='submit') Submit
        br
        form(class="bg-light p-3 w-50")
            .form-row.align-items-center
                .col-auto.my-1
                    label.mr-sm-2.sr-only(for='inlineFormCustomSelect') Preference
                    select#inlineFormCustomSelect.custom-select.mr-sm-2
                        option(selected='') Choose...
                        option(value='1') One
                        option(value='2') Two
                        option(value='3') Three
                .col-auto.my-1
                    .custom-control.custom-checkbox.mr-sm-2
                        input#customControlAutosizing.custom-control-input(type='checkbox')
                        label.custom-control-label(for='customControlAutosizing') Remember my preference
                .col-auto.my-1
                    button.btn.btn-primary(type='submit') Submit
        br
        form.form-inline(class="bg-light p-3 w-50")
            label.sr-only(for='inlineFormInputName2') Name
            input#inlineFormInputName2.form-control.mb-2.mr-sm-2(type='text' placeholder='Jane Doe')
            label.sr-only(for='inlineFormInputGroupUsername2') Username
            .input-group.mb-2.mr-sm-2
                .input-group-prepend
                    .input-group-text @
                input#inlineFormInputGroupUsername2.form-control(type='text' placeholder='Username')
            .form-check.mb-2.mr-sm-2
                input#inlineFormCheck.form-check-input(type='checkbox')
                label.form-check-label(for='inlineFormCheck')
                | Remember me
            button.btn.btn-primary.mb-2(type='submit') Submit
        br
        form.form-inline(class="bg-light p-3 w-50")
            label.my-1.mr-2(for='inlineFormCustomSelectPref') Preference
            select#inlineFormCustomSelectPref.custom-select.my-1.mr-sm-2
                option(selected='') Choose...
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
            .custom-control.custom-checkbox.my-1.mr-sm-2
                input#customControlInline.custom-control-input(type='checkbox')
                label.custom-control-label(for='customControlInline') Remember my preference
            button.btn.btn-primary.my-1(type='submit') Submit
        br
        .aa(class="bg-light p-3 w-50")
            label(for='inputPassword5' ) Password
            input#inputPassword5.form-control(type='password' aria-describedby='passwordHelpBlock')
            small#passwordHelpBlock.form-text.text-muted
                | Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        br
        form.form-inline(class="bg-light p-3 w-50")
            .form-group
                label(for='inputPassword6') Password
                input#inputPassword6.form-control.mx-sm-3(type='password' aria-describedby='passwordHelpInline')
                small#passwordHelpInline.text-muted
                    | Must be 8-20 characters long.
        br
        form
            fieldset(disabled='' class="bg-light p-3 w-50")
                .form-group
                    label(for='disabledTextInput') Disabled input
                    input#disabledTextInput.form-control(type='text' placeholder='Disabled input')
                .form-group
                    label(for='disabledSelect') Disabled select menu
                    select#disabledSelect.form-control
                        option Disabled select
                .form-group
                .form-check
                    input#disabledFieldsetCheck.form-check-input(type='checkbox' disabled='')
                    label.form-check-label(for='disabledFieldsetCheck')
                        | Can&apos;t check this
                button.btn.btn-primary(type='submit') Submit
        br
    hr(class="bgc(White)")
    .as(class="bg-light p-3 w-50")
        .input-group.mb-3(class="bg-light p-3 w-50")
            .input-group-prepend
                span#basic-addon1.input-group-text @
            input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
        .input-group.mb-3
            input.form-control(type='text' placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='basic-addon2')
            .input-group-append
                span#basic-addon2.input-group-text @example.com
    br
    .input-group.flex-nowrap(class="bg-light p-3 w-50")
        .input-group-prepend
            span#addon-wrapping.input-group-text @
        input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='addon-wrapping')
    br
    .asj(class="bg-light p-3 w-50")
        .input-group.input-group-sm.mb-3
            .input-group-prepend
                span#inputGroup-sizing-sm.input-group-text Small
            input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-sm')
            .input-group.mb-3
            .input-group-prepend
                span#inputGroup-sizing-default.input-group-text Default
            input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
            .input-group.input-group-lg
            .input-group-prepend
                span#inputGroup-sizing-lg.input-group-text Large
            input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-lg')
    br
    div(class="bg-light p-3 w-50")
        .input-group.mb-3
            .input-group-prepend
                .input-group-text
                    input(type='checkbox' aria-label='Checkbox for following text input')
            input.form-control(type='text' aria-label='Text input with checkbox')
        .input-group
            .input-group-prepend
                .input-group-text
                    input(type='radio' aria-label='Radio button for following text input')
            input.form-control(type='text' aria-label='Text input with radio button')
    br
    .sss(class="bg-light p-3 w-50")
        .input-group.mb-3
            .input-group-prepend
                span.input-group-text $
                span.input-group-text 0.00
            input.form-control(type='text' aria-label='Dollar amount (with dot and two decimal places)')
        .input-group
            input.form-control(type='text' aria-label='Dollar amount (with dot and two decimal places)')
            .input-group-append
                span.input-group-text $
                span.input-group-text 0.00
    br
    .bv(class="bg-light p-3 w-50")
        .input-group.mb-3
            #button-addon3.input-group-prepend
                button.btn.btn-outline-secondary(type='button') Button
                button.btn.btn-outline-secondary(type='button') Button
            input.form-control(type='text' placeholder='' aria-label='Example text with two button addons' aria-describedby='button-addon3')
        .input-group
            input.form-control(type='text' placeholder="Recipient's username" aria-label="Recipient's username with two button addons" aria-describedby='button-addon4')
            #button-addon4.input-group-append
                button.btn.btn-outline-secondary(type='button') Button
                button.btn.btn-outline-secondary(type='button') Button
    br
    .ada(class="bg-light p-3 w-50")
        .input-group.mb-3
            .input-group-prepend
                button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
                .dropdown-menu
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here
                    .dropdown-divider(role='separator')
                    a.dropdown-item(href='#') Separated link
            input.form-control(type='text' aria-label='Text input with dropdown button')
        .input-group
            input.form-control(type='text' aria-label='Text input with dropdown button')
            .input-group-append
                button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
                .dropdown-menu
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here
                    .dropdown-divider(role='separator')
                    a.dropdown-item(href='#') Separated link
    br
    .input-group.mb-3(class="bg-light p-3 w-50")
        .input-group-prepend
            button.btn.btn-outline-secondary(type='button') Action
            button.btn.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            span.sr-only Toggle Dropdown
            .dropdown-menu
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
                .dropdown-divider(role='separator')
                a.dropdown-item(href='#') Separated link
        input.form-control(type='text' aria-label='Text input with segmented dropdown button')
    br
    .input-group.mb-3(class="bg-light p-3 w-50")
        .input-group-prepend
            label.input-group-text(for='inputGroupSelect01') Options
        select#inputGroupSelect01.custom-select
            option(selected='') Choose...
            option(value='1') One
            option(value='2') Two
            option(value='3') Three
    br
    .ssd(class="bg-light p-3 w-50")
        .input-group.mb-3
            .input-group-prepend
                span#inputGroupFileAddon01.input-group-text Upload
            .custom-file
                input#inputGroupFile01.custom-file-input(type='file' aria-describedby='inputGroupFileAddon01')
                label.custom-file-label(for='inputGroupFile01') Choose file
        .input-group.mb-3
            .custom-file
                input#inputGroupFile02.custom-file-input(type='file')
                label.custom-file-label(for='inputGroupFile02' aria-describedby='inputGroupFileAddon02') Choose file
            .input-group-append
                span#inputGroupFileAddon02.input-group-text Upload
    hr(class="bgc(White)")
    .jumbotron(class="bg-light p-3 w-50")
        h1.display-4 Hello, world!
        p.lead
            | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        hr.my-4
        p
            | It uses utility classes for typography and spacing to space content out within the larger container.
        a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
    br
    .jumbotron.jumbotron-fluid(class="bg-light p-3 w-50")
        .container
            h1.display-4 Fluid jumbotron
            p.lead
            | This is a modified jumbotron that occupies the entire horizontal space of its parent.
    hr(class="bgc(White)")
    ul.list-group(class="bg-light p-3 w-50")
        li.list-group-item.active Cras justo odio
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Morbi leo risus
        li.list-group-item Porta ac consectetur ac
        li.list-group-item Vestibulum at eros
    br
    ul.list-group.list-group-horizontal-xl(class="bg-light p-3 w-50")
        li.list-group-item Cras justo odio
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Morbi leo risus
    hr(class="bg-white")
    ul.list-unstyled(class="bg-light p-3 w-50")
        li.media
            img.mr-3(src='...' alt='...')
            .media-body
                h5.mt-0.mb-1 List-based media object
                |       Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        li.media.my-4
            img.mr-3(src='...' alt='...')
            .media-body
                h5.mt-0.mb-1 List-based media object
                |       Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        li.media
            img.mr-3(src='...' alt='...')
            .media-body
                h5.mt-0.mb-1 List-based media object
                |       Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    br
    .media(class="bg-light p-3 w-50")
        img.mr-3(src='...' alt='...')
        .media-body
            h5.mt-0 Media heading
                | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            .media.mt-3
                a.mr-3(href='#')
                    img.mr-3(src='...' alt='...')
                .media-body
                    h5.mt-0 Media heading
                    |         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    br
    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal' ) Launch demo modal
    #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save changes
    br
    br
    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
        | Launch demo modal
    #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    | ...
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save changes
    br
    ul.nav(class="bg-light p-3 w-50")
        li.nav-item
            a.nav-link.active(href='#') Active
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link.disabled(href='#') Disabled
    br
    nav.nav(class="bg-light p-3 w-50")
        a.nav-link.active(href='#') Active
        a.nav-link(href='#') Link
        a.nav-link(href='#') Link
        a.nav-link.disabled(href='#') Disabled
    br
    ul.nav.justify-content-center(class="bg-light p-3 w-50")
        li.nav-item
            a.nav-link.active(href='#') Active
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link.disabled(href='#') Disabled
    br
    ul.nav(class="bg-light p-3 w-50 justify-content-end")
        li.nav-item
            a.nav-link.active(href='#') Active
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link.disabled(href='#') Disabled
    br
    ul.nav(class="bg-light p-3 w-50 flex-column")
        li.nav-item
            a.nav-link.active(href='#') Active
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link.disabled(href='#') Disabled
    br
    nav.nav(class="bg-light p-3 w-50 flex-column")
        a.nav-link.active(href='#') Active
        a.nav-link(href='#') Link
        a.nav-link(href='#') Link
        a.nav-link.disabled(href='#') Disabled
    br
    ul.nav(class="bg-light p-3 w-50 nav-tabs")
        li.nav-item
            a.nav-link.active(href='#') Active
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link.disabled(href='#') Disabled
    br
    ul.nav(class="bg-light p-3 w-50 nav-pills nav-fill")
        li.nav-item
            a.nav-link.active(href='#') Active
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link.disabled(href='#') Disabled
    nav
    br
    .adk(class="bg-light p-3 w-50 ")
        #nav-tab.nav.nav-tabs(role='tablist')
            a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') Home
            a#nav-profile-tab.nav-item.nav-link(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false') Profile
            a#nav-contact-tab.nav-item.nav-link(data-toggle='tab' href='#nav-contact' role='tab' aria-controls='nav-contact' aria-selected='false') Contact
        #nav-tabContent.tab-content
            #nav-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab') ...
            #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab') ...
            #nav-contact.tab-pane.fade(role='tabpanel' aria-labelledby='nav-contact-tab') ...
    br
    .hgf(class="bg-light p-3 w-50 row")
        #v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical' class=" col-6")
            a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-home' role='tab' aria-controls='v-pills-home' aria-selected='true') Home
            a#v-pills-profile-tab.nav-link(data-toggle='pill' href='#v-pills-profile' role='tab' aria-controls='v-pills-profile' aria-selected='false') Profile
            a#v-pills-messages-tab.nav-link(data-toggle='pill' href='#v-pills-messages' role='tab' aria-controls='v-pills-messages' aria-selected='false') Messages
            a#v-pills-settings-tab.nav-link(data-toggle='pill' href='#v-pills-settings' role='tab' aria-controls='v-pills-settings' aria-selected='false') Settings
        #v-pills-tabContent.tab-content(class="col-6")
            #v-pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab') ...
            #v-pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-profile-tab') ...
            #v-pills-messages.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-messages-tab') ...
            #v-pills-settings.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-settings-tab') ...
    hr(class="bgc(White)")
    ul.pagination
        li.page-item
            a.page-link(href='#') Previous
        li.page-item
            a.page-link(href='#') 1
        li.page-item
            a.page-link(href='#') 2
        li.page-item
            a.page-link(href='#') 3
        li.page-item
            a.page-link(href='#') Next
    hr(class="bgc(White)")
    .hgf(class="bg-light p-3 w-50")
        .progress
            .progress-bar(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')
        .progress
            .progress-bar( class="progress-bar-striped bg-success" role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        .progress
            .progress-bar(class=" progress-bar-striped progress-bar-animated bg-warning" role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
        .progress
            .progress-bar(role='progressbar' style='width: 75%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
        .progress
            .progress-bar(role='progressbar' style='width: 100%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100')
    br
    .adad(class="bg-light p-3 w-50 row h(300)")
        #list-example.list-group.col-6(class="h(100pc)")
            a.list-group-item.list-group-item-action(href='#list-item-1') Item 1
            a.list-group-item.list-group-item-action(href='#list-item-2') Item2
            a.list-group-item.list-group-item-action(href='#list-item-3') Item 3
            a.list-group-item.list-group-item-action(href='#list-item-4') Item 4
        .scrollspy-example.col-6(class="h(100pc) overflow-auto" data-spy='scroll' data-target='#list-example' data-offset='0')
            h4#list-item-1 Item 1
            p Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.
            h4#list-item-2 Item 2
            p Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla tempor. Laborum consequat non elit enim exercitation cillum aliqua consequat id aliqua. Esse ex consectetur mollit voluptate est in duis laboris ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem aliqua quis ullamco deserunt sit enim elit aliqua esse irure. Laborum nisi sit est tempor laborum mollit labore officia laborum excepteur commodo non commodo dolor excepteu
            h4#list-item-3 Item 3
            p Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.
            h4#list-item-4 Item 4
            p Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.
