div(class=" nav bgc(Black) h(55) w(100pc) justify-content-md-around")
  div(class="nav-item ")
    img(src="logo.svg", alt="", srcset="" class="h(50) w(50)")
    a(href="http://" class="col fz(20) fw(b) hov(none):h") React
  div(class="nav-item row h(50) align-content-center ")
    a(href="/doc" class=" col c(White) hov(Blue):h hov(none):h") Doc
    a(href="http://" class=" col c(White) hov(Blue):h hov(none):h") Tutorial
    a(href="http://" class=" col c(White) hov(Blue):h hov(none):h") Blog
    a(href="http://" class=" col c(White) hov(Blue):h hov(none):h") Community
  div(class="nav-item align-content-center row " )
    form(action="" method="method" class="bg-dark rounded h(30)" placeholder="Search")
      label(for="" class="c(White) m-1")
        i(class="fas fa-search")
      input(type="search", name="" class="bg-dark border-0 c(White) o(n)")
  div(class="nav-item")